label
{
    padding: 0!important;
}

h5
{
    cursor: pointer;
}

#profile-header
{
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 30px;
    margin-bottom: 30px;
}

#phead
{
    position: relative;
}

#img-wrap
{
    border: 1px solid #eee;
    padding: 15px;
}

#img-wrap img
{
    height: 300px;
    object-fit: cover;
    border: 1px solid #eee;
    background: #FAFAFA;
}

#img-form label {
    width: 100%!important;
}

#gender-img, #orient-img
{
    height: 20px;
}

#profile-images img
{
    object-fit: cover;
    height: 250px;
}

#bio-wrap
{
    margin: 20px 0;
    padding: 0;
    position: relative;
}

#bio-wrap strong
{
    white-space: nowrap;
}

#bio-wrap span
{
    padding: 0;
    margin: 0 15px
}

#tag-wrap
{
    position: relative;
    margin: 0;
    padding: 0;
}

.tag-box
{
    background: #0275d8;
    color: #fff;
    margin: 0 5px;
    padding: 3px 5px;
    border-radius: 3px;
}

.icon img
{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    background: #ccc!important;
    border: none!important;
    padding: 2px;
    cursor: pointer;
}


#pen-profile img, .pen-icon img
{
    height: 40px!important;
    width: 40px;
    top: 20px;
    right: 20px;
    z-index: 100;
    padding: 5px;
}

.pen-icon img
{
    top: 10px;
    right: 25px;
}

.img-container
{
    position: relative;
    padding: 0;
}

.pen-img img
{
    height: 40px;
    width: 40px;
    top: 10px;
    right: 25px;
    z-index: 100;
    padding: 5px;
}

.tag_wrap
{
    background: #0275d8;
    display: inline-block;
    border: 1px solid #028bff;
    border-radius: 2px;
    color: #FFF;
    margin : 5px 5px 0 5px;
    position: relative;
    z-index: 1000;
}

.tag_wrap span
{
    padding: 0 6px;
}

.tag_wrap a
{
    padding: 0 5px;
    border-left: 1px solid #028bff;
    font-weight: bolder;
    cursor: pointer;
    z-index: 1000;
    color: #FFF!important;
}

#bio-text
{
    min-height: 250px;
}

.file-input, .upload-input
{
    display: none!important;
}

.upload-div
{
    display: inline-block;
    height: 400px;
    font-size: 50px;
    padding: 190px!important;
    background-size: cover;
    background-position: center center;
}

.upload-div:hover
{
    color: #0275d8;
}

.fake-upload
{
    display: inline-block;
    cursor: pointer;
    height: 250px;
    padding: 95px 0;
    font-size: 50px;
    background-size: cover;
    background-position: center center;
}

.fake-upload:hover
{
    color: #0275d8;
}

.birth-wrap
{
    display: inline-block!important;
    vertical-align: top;
}

.birth-wrap, #birth-container
{
    padding: 0;
    margin: 0;
}

.birth-wrap
{
    width: 32%;
}

.birth-wrap select
{
    width: 95%!important;
}

.block
{
    display: block!important;
    padding: 0;
}

#imagepreview
{
    display: block;
    max-width:100%;
    max-height: 75vh;
    width: auto;
    margin: auto;
}

.click-img
{
    cursor: pointer;
}

#score-wrap
{
    font-size: 100px;
    font-weight: lighter;
    color: #0275d8;
}

#action-wrap
{
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
}

#like-wrap, #block-wrap, #connected-wrap, #fake-wrap
{
    background: #eeeeee;
    border: 1px solid #5d5d5d;
    height: 25px;
    padding: 0 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

#like-wrap:hover, #block-wrap:hover, #fake-wrap:hover
{
    background: #d8d8d8;
}

#connected-wrap
{
    background: none;
    border: none;
    margin-bottom: 5px;
}

#like-wrap img, #block-wrap img, #connected-wrap img, #fake-wrap img
{
    height: 20px;
    vertical-align: top;
}

.profile-img
{
    height: 150px;
    background-size: cover!important;
    background-position: center!important
}

.ticket
{
    padding: 5px;
}

.ticket .row
{
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 0;
    box-shadow: 3px 3px 5px #EFEFEF;
    background: #fff;
    position: relative;
    margin: 0;
}

.profile-img
{
    background-position: center center!important;
    background-size: cover!important;
    border-right: 1px solid #CCC;
    max-width: 100%;
}

.gender
{
    position: absolute;
    right: 5px;
    top: 5px;
}

.orient
{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.gender img, .orient img
{
    height: 25px!important;
    width: 25px;
}

.profile-link
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.history
{
    margin-top: 40px;
}

.history h4
{
    margin: 10px;
}

#view-history, #likes-history
{
    position: relative;
    min-height: 250px;
}

.nobody-wrap
{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #5d5d5d;
    font-weight: bolder;
}

#tag-ticket-wrap
{
    padding: 0;
    margin-bottom: 5px;
}

.easy-autocomplete
{
    width: 100%!important;
}


